.cont {
    height: 100vh;
    background-image: url('../assets/burana.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
  }
  
  .content {
    background-color: #fff;
    padding: 40px 20px;
    color: #0c0404;
  }
  
  .card-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }
  