* {
  margin: 0;
}
.container {
  border: 1px solid #ddd;
  text-align: center;
  width: 308px;
  height: 437px;

  .description {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .paragraf {
    text-align: left;
  }
}
