.container {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 308px;
    height: 437px;
  }
  
  .first_row {
    display: flex;

    justify-content: space-between;
  }
.description {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.description p {
  margin: 0;
}