* {
  margin: 0;
}
.container {
  border: 1px solid #ddd;
  text-align: center;
  width: 308px;
  height: 437px;
  border: none;

  .description {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .first_row {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    
  }

  .paragraf {
    text-align: left;
    font-size: 16px;
    padding-top: 5px;
  }
}
