.container {
    display: flex;  
    align-items: center;       
    justify-content: space-between;
    padding: 0px 52px;
    background-color:rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    width: 100%;
    margin: 3px;
    height: 100px;
    backdrop-filter: blur(4px);
    position: static;  
    top: unset;


  }
  .logo {
    display: flex;
    align-items: center;
    padding: 0%;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;


  }
  .logo p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

  }
  .link {
    text-decoration: none;
    color: inherit;
  }

  .hd_puncts{
    display: flex;
    justify-content: space-between;
    gap: 44px;


    p{
      font-family: Montserrat;
      font-weight: 600;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      padding-right: 20px;
      padding-bottom: 38px;
      padding-left: 20px;
      padding-top: 38px;
      margin: 0;
      cursor: pointer;
  
    }
  }
  
  

  
  .search input {



  }
  
.search {
  display: flex;
  gap: 40px;

    .input_search {
      position: relative;

      input {
        border: none;
        outline: none;
        border-radius: 20px;
        border: 1px solid #000000;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        width: 128px;
        height: 37px;
        cursor: pointer;
        background-color: #EDEDED;
        z-index: 2;
        padding-left: 7px;
      }
    
      img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        pointer-events: none; 
      }
    }
}