.container {
    align-items: center;
    background-color: antiquewhite;
  


    .map_filter 
    {display: flex;
    flex-direction: column;}
    .Card {
        align-items: center;
        display: flex;
        justify-content: center;
    }

}
