
.container {
    width: 100%;
    height: 149px;
    background-color: #F5F5F5;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);


  }
  .btn_com {
    width: 284px !important;
    margin: 50px 75px 50px 0px !important;
    
  }
  .p_com {
    font-weight: 600;
    font-size: 32px;
    margin: 50px 0px 50px 75px;
    gap: 10px;
    
  }
 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  