.btns {
  display: flex;
  gap: 20px;
}
.login_btn {
  background: #3dd0c9;
  border-radius: 10px;
  width: 170px;
  height: 50px;
  border: none;
}

.registration_btn {
  border-radius: 10px;
  width: 170px;
  height: 50px;
  border: none;
}
.checkboxContainer {
  display: flex;
  justify-content: left;
  align-items: left;
}
.checkboxLabel {
  display: flex;
  font-size: 14px;
  cursor: pointer;
}

.checkboxLabel input {
  margin-right: 8px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.checkboxLabel input:checked {
  background-color: #ffffff;
  border-color: #ebeff3;
}
