.cont {
  height: 100vh;
  background-image: url('../../assets/burana.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #0c0404;
  justify-content: center;
  align-items: center;

  .content_page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    border: 1px solid red;
    width: 456px;
    gap: 10px;
    padding: 30px 29px;
    margin: 44px;

    p {
      text-align: center;
      font-weight: 600;
      font-size: 16px;
    }
  }

  .card_page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  button {
    margin: 44px;
    width: 456px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #E48C3F;
    font-weight: 600;
    font-size: 16px;
    color: white;
  }
  .btn_gid {
    width: 456px;
    background-color: #40D885;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    gap: 10px;

    p{
      color: #fff;
    }
  }
}
