  .cont {
      height: 100vh;
      background-image: url('../../assets/burana.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      color: #0c0404;
      justify-content: center;
      align-items: center;
    }

    .content_page {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 1px solid red;
      width: 456px;
      gap: 10px;
      padding: 30px 29px; 
      margin: 44px;
    }
    
    .content_page p {
      text-align: center;
      font-weight: 600;
      font-size: 16px;
    }
    
    .card_page {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
    
    button {
      margin: 44px;
      width: 456px;
      height: 50px;

      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: none;
      background-color: #E48C3F;
      font-weight: 600;
      font-size: 16px;
      color: white;
    }